html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
}

.navbar-aside {
    height: 100vh;
    width: 200px;
}

.navbar__itens {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin: 0;
}

.navbar-aside__column {
    flex-direction: column;
    align-items: center;
}

.navbar__link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__link--active {
    color: rgb(194, 100, 23);
}

.navbar-aside__column--font-small {
    font-size: 1rem;
}















