.btn-default {
    padding: 5px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-green {
    color: black;
    background-color: green;
}

.btn-blue {
    color: white;
    background-color: blue;
}